<section class="bg-[#f6f8f5]">
  <div class="mx-auto max-w-3xl py-10 sm:py-12 px-4">
    <div class="flex flex-col items-center justify-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="46"
        height="38"
        viewBox="0 0 46 38"
        class="h-10 w-10 text-gray-400"
      >
        <path
          d="M20.6614 28.8167C20.6614 33.1133 16.7004 37.0402 11.7484 37.0402C3.56585 37.0402 0 30.9867 0 22.9061C0 13.6313 9.34862 4.68667 17.8304 0.959727L20.0961 4.60889C13.1077 7.99535 7.88433 12.5869 7.14413 20.2849H10.0352C13.1311 20.2849 16.3472 20.784 18.4942 23.0089C20.025 24.5976 20.6614 26.6202 20.6614 28.8167ZM46 28.8167C46 33.1133 42.0389 37.0402 37.087 37.0402C28.9044 37.0402 25.3385 30.9866 25.3385 22.9061C25.3385 13.6312 34.6872 4.68666 43.1689 0.959717L45.4346 4.60888C38.4462 7.99534 33.2229 12.5868 32.4827 20.2849C35.6358 20.2849 38.2518 20.1706 40.5819 21.0044C44.2108 22.3029 46 25.1081 46 28.8167Z"
          fill="#6b788b"></path>
      </svg>
      <h4
        class="text-center text-balance text-gray-600 text-2xl leading-9 my-4 font-serif font-light tracking-tight"
      >
        ”I had a wonderful experience with Aleksander Dutkiewicz during my
        apartment rental. He provided exceptional service, and I'm highly
        satisfied. I recommend him for anyone seeking a reliable real estate
        professional.”
      </h4>
      <img
        src="https://lh3.googleusercontent.com/a-/ALV-UjW75GmMn2jmkwN8ZucMgbhw9SzccxJaydEaUgoy8wYycWHf9WVy=s64-c-rp-mo-br100"
        class="h-10 w-10 rounded-full mt-2"
        alt=""
      />
      <p class="text-center text-gray-600 leading-6 text-sm font-normal mt-1">
        Sergey Lisogurskiy
      </p>
    </div>
  </div>
</section>
